<%= f.text_field :title,       placeholder: "Title" %> <br />
<%= f.text_area  :description, placeholder: "Description (optional)" %> <br />
<%= f.text_field :tag_list, placeholder: "Tags (optional)" %>
<span class="help-block"><i class="icon-info-sign"></i>
  Please seperate the tags by comma.</br>e.g.: Computer Science, programming, beginner-level</span>
<%= render 'shared/error_messages', object: f.object %>