<li class="span4 list-item" id="list_<%= list.id %>">
  <div class="thumbnail">
    <%= render partial: 'lists/list_controll', locals: { list: list } %>
    <%= render partial: 'lists/list_image', locals: { list: list } %>
    <%= render partial: 'lists/list_summary', locals: { list: list } %>
  </div>
</li>