<% provide(:title, 'Edit list') %>
<div class="form-std form-new-edit">
    <h2>Edit this list</h2>
    <%= form_for(@list) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>