<% provide(:title, 'All lists') %>
<% content_for :left do %>
  <div class="index-header">
    <h2>All Lists</h2>
    <%= render 'btn_new_list' %>
  </div>
  <div class="section-container">
    <ul class="list-items thumbnails">
      <%= render partial: 'lists/list', collection: @lists %>
    </ul>
    <%= will_paginate @lists %>
  </div>
<% end %>

<% content_for :right do %>
  place_holder
<% end %>