<% provide(:title, 'Create a list') %>
<div class="row center">
  <div class="span7 offset2">
<<<<<<< HEAD
  <h3>Create a new list </h3>
=======
    <h3>Create a new list </h3>
>>>>>>> upstream/master
    <%= form_for(@list) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "create a list", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>