<% provide(:title, 'Create a list') %>
<div class="form-std form-new-edit-list">
    <h2>Create a new list</h2>
    <%= form_for(@list) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>