<% provide(:title, 'List') %>
<% provide(:background, 'no-bg') %>

<% content_for :left do %>
  <h2>List</h2>
  
  <div class="section-container">
    <%= render partial: "shared/list",
         locals: { list: @list } %>
    <%= render partial: "shared/comment_form",
         locals: { commentable: @list } %>
  </div>
  
  <% if @comments.any? %>
  <%= render partial: "shared/comments",
             locals: { comments: @comments,
                       commentable: @list } %>
  <% end %>             
<% end %>

<% content_for :right do %>
  place_holder
<% end %>