<% provide(:title, "Log in") %>
<div class="row center">
  <p><!--content--></p>
  <div class="span4 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field     :email,    placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <div><%= f.submit "Log in", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>