<% provide(:title, 'Take a note') %>
<div class="form-std form-new-edit">
    <h2>Take a note</h2>
    <%= form_for [@course, @note] do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Post", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>