<% provide(:title, 'Note') %>
<% content_for :left do %>
<h2>Note</h2><%= link_to "<< go back to course: " + @course.full_name,  @course %>
<div class="section-container">
<%= render 'note', note: @note %>
</div>
<% end %>

<% content_for :right do %>
  place_holder
<% end %>