<% provide(:title, 'Note') %>
<% content_for :left do %>
<%= link_to "<< view all notes",  course_notes_path(@course) %>
<h2>Note</h2>
<div class="section-container">
<%= render 'note', note: @note %>
</div>
<% end %>

<% content_for :right do %>
  <%= render partial: 'courses/sidebar_course_item', locals: { course: @course } %>
<% end %>