<% unless current_page? discussion %>
<li class="discussion-item" id="discussion-<%= discussion.id %>">
<% end %>

  <div class="row-fluid"> 
    <%= render partial: 'discussions/discussion_count', locals: { discussion: discussion } %>
    <%= render partial: 'discussions/discussion_body', locals: { discussion: discussion } %>
  </div>

<% unless current_page? discussion %>
</li>
<% end %>