<%= f.text_field :title, placeholder: "Title" %>
<%= f.text_area  :content, placeholder: "Content (optional)" %>
<%= f.text_field :tag_list, placeholder: "Tags" %>
<span class="help-block"><i class="icon-info-sign"></i>
      Please seperate the tags by comma.</br>e.g.: CS101, projects, additional reading</span>
<%= render 'shared/error_messages', object: f.object %>