      <ul class="nav nav-tabs">
        <li class="active"><a href="#newest" data-toggle="tab">newest</a></li>
        <li><a href="#votes" data-toggle="tab">votes</a></li>
        <li><a href="#comments" data-toggle="tab">comments</a></li>
      </ul>