<% provide(:title, 'Edit post') %>
<div class="form-std form-new-edit-post">
    <h2>Edit this post</h2>
    <%= form_for(@discussion) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>