<% provide(:title, 'Create post') %>
<div class="row center">
  <div class="span6 offset4">
    <%= form_for(@discussion) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "create post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>