
<% provide(:title, @discussion.title) %>
<% content_for :left do %>
  <h3>Discussion: </h3>
  <div class="section-container">
	  <%= render partial: "shared/discussion", locals: { discussion: @discussion } %>
  
	  <%= render partial: "shared/comment_form",
				 locals: { commentable: @discussion } %>
   </div>
	  <% if @comments.any? %>
	  <%= render partial: "shared/comments",
				 locals: { comments:    @comments,
						   commentable: @discussion } %>
	  
  <% end %>
<% end %>


<% content_for :right do %>
  place_holder
<% end %>