<li id="course-<%=course.id%>" class="span4">
  <%= link_to course, {class: "thumbnail"} do %>
    <%= image_tag(course.image_link, class: "img-medium course-item") %>
    <legend class="course-item"><%= course.full_name %></legend>
  <% end %>
</li>