<div class="section-container">
  <h2 class="section-title">Interesting Lists</h2>
  <div class="section-content">
    <div class="interesting-lists row-fluid">
      <ul class="list-column span6">
        <%= render partial: 'shared/list', collection: @lists.last(2) %>
      </ul>
      <ul class="list-column span6">
        <%= render partial: 'shared/list', collection: @lists[0...2] %>
      </ul> 
    </div>
    <%= link_to "View all lists »", lists_path, {class: "view-all"} %>
  </div>
</div>