<div class="section-container">
  <h2>Popular Courses</h2>  
	<aside class="tabbable tabs-left">
    <%= render "tabs" %>
	</aside>
	<div class="tab-content">
    <%= render "tab_content" %>
	</div>
</div>