<div class="section-container">
  <h3 class="section-title">Popular Courses</h3>  
	<!-- Popular Course Tab -->
	<ul class="nav nav-tabs" id="popular_courses">
	  <li class="active"><a href="#popular_ongoing_courses" data-toggle="tab">Ongoing Courses</a></li>
	  <li><a href="#popular_upcoming_courses" data-toggle="tab">Upcoming Courses</a></li>
	  <li><a href="#popular_finished_courses" data-toggle="tab">Finished Courses</a></li>
	</ul>
	<div class="section-content">
		<div class="tab-content">
		  <div class="tab-pane active" id="popular_ongoing_courses">
			<%= render partial: "basics/popular_course_list",
					   locals: { courses: @popular_ongoing_courses } %>
		  </div>
		  <div class="tab-pane fade" id="popular_upcoming_courses">
			<%= render partial: "basics/popular_course_list",
					   locals: { :courses => @popular_upcoming_courses } %>
		  </div>
		  <div class="tab-pane fade" id="popular_finished_courses">	
			<%= render partial: "basics/popular_course_list",
					   locals: { :courses => @popular_finished_courses } %>
		  </div>
		  
		</div>
  </div>
</div>