<div class="section-container">
  <h3 class="section-title">Recent Discussions</h3>
  <div class="section-content">
    <ul class="recent_discussions">
      <%= render partial: 'shared/discussion', collection: @discussions %>
    </ul>
  </div>
</div>