<div id="recent_lists_container">
  <h3 id="recent_lists_head">Recent Lists</h3>
  <div id="recent_lists_body">
    <div id="5_recent_lists">
      <%= render partial: 'shared/list', collection: @lists %>
    </div>
  </div>
</div>