<div class="section-container">
  <h2>Recent Discussions</h2>
  <ul class="unstyled seperate">
    <%= render partial: 'shared/discussion', collection: @discussions %>
  </ul>
  <%= link_to "View all discussions »", discussions_path, { class: "pull-right view-all" } %>
</div>