<div class="section-container">
  <h3 class="section-title">Recent Lists</h3>
  <div class="section-content">
    <ul class="recent_lists">
<<<<<<< HEAD
      <%= render :partial => 'shared/list', :collection => @lists.last(4) %> 
=======
      <%= render partial: 'shared/list', collection: @lists.last(4) %>
>>>>>>> upstream/master
    </ul>
  </div>
</div>