<div class="section-container">
  <h3 class="section-title">Recent Lists</h3>
  <div class="section-content">
    <ul>
      <%= render partial: 'shared/list', collection: @lists %>
    </ul>
  </div>
</div>