    <ul class="nav nav-tabs">
      <li class="active"><a href="#ongoing" data-toggle="tab">
        <div class="circle circle-ongoing"></div>ongoing</a></li>
      <li><a href="#upcoming" data-toggle="tab">
        <div class="circle circle-upcoming"></div>upcoming</a></li>
      <li><a href="#et" data-toggle="tab"><i class="icon-tag"></i> et</a></li>
      <li><a href="#ut" data-toggle="tab"><i class="icon-tag"></i> ut</a></li>
      <li><a href="#aut" data-toggle="tab"><i class="icon-tag"></i> aut</a></li>
      <li><a href="#voluptatem" data-toggle="tab"><i class="icon-tag"></i> voluptatem</a></li>
      <li><a href="#qui" data-toggle="tab"><i class="icon-tag"></i> qui</a></li>
    </ul>