  <% content_for :left do %>
    <%= render 'basics/popular_courses' %>
    <%= render 'basics/recent_discussions' %>
    <%= render 'basics/interesting_lists' %>
  <% end %>
      
  <% content_for :right do %>
    <section>
      News
    </section>
  <% end %>