  <% content_for :left do %>

  <span class='test'>C</span>   <span class='test'>Courigin</span>
    <%= render 'basics/popular_courses' %>
    <%= render 'basics/recent_discussions' %>
    <%= render 'basics/interesting_lists' %>
  <% end %>
      
  <% content_for :right do %>
    <section>
      News
    </section>
  <% end %>