  <% content_for :left do %>
    <%= render 'basics/popular_courses' %>
    <%= render 'basics/recent_discussions' %>
    <%= render 'basics/interesting_lists' %>
  <% end %>
      
  <% content_for :right do %>
    <h3>Recent Activities</h3>
    <% if @enrollments.any? %>
    <ul class="unstyled seperate">
      <%= render partial: 'courses/enroll_news', collection: @enrollments, as: :enrollment %>
    </ul>
    <% end %>
  <% end %>