    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#comment-likes">
          <h3>Voted for <%= pluralize(@liked_comments.count, 'comment') %></h3>
        </a>
      </div>
      <div id="comment-likes" class="accordion-body collapse">
        <div class="accordion-inner">          
          <ul class="unstyled seperate">
            <%= render partial: 'users/liked_item', collection: @liked_comments, as: :post,
                       locals: { vote: "vote", type: "comment" } %>
          </ul>
        </div>
      </div>
    </div>