  <div class="tabbable user-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#courses" data-toggle="tab">courses</a></li>
      <li><a href="#notes" data-toggle="tab">notes</a></li>
      <li><a href="#reviews" data-toggle="tab">reviews</a></li>
      <li><a href="#discussions" data-toggle="tab">discussions</a></li>
      <li><a href="#lists" data-toggle="tab">lists</a></li>
      <li><a href="#votes" data-toggle="tab"><%= "stars & votes".html_safe %></a></li>
    </ul>
  </div>