<% provide(:title, "Edit profile") %>
<% provide(:background, 'no-bg') %>
<div id="user-page" class="edit-profile">
  <h2>Edit your profile</h2>
  <div class="row profile">
    <div class="profile-gravatar">
      <div><%= render partial: 'shared/profile_gravatar', locals: { user: @user } %></div>
      <%= link_to "change picture", "http://gravatar.com/emails", target: "_blank" %>
    </div>
    <div class="span6 profile-data">   
      <%= form_for(@user) do |f| %>
        <%= render 'edit_fields', f: f %>
      <% end %>
    </div>
  </div>
</div>