<% provide(:title, 'Sign up') %>
<div class="row center">
  <p><!--content--></p>
  <div class="span4 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
<<<<<<< HEAD
      <div><%= f.submit "Join", class: "btn btn-large btn-primary" %></div>
=======
      <div><%= f.submit "Join", class: "btn btn-large btn-primary" %><div>
>>>>>>> upstream/master
    <% end %>
  </div>
</div>