<% provide(:title, 'Sign up') %>
<div class="row center">
  <div class="span4 offset4">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <div><%= f.submit "Join", class: "btn btn-large btn-primary" %><div>
    <% end %>
  </div>
</div>