<% provide(:title, 'Sign up') %>
  <div class="form-std form-login-signup">
    <%= form_for(@user) do |f| %>
      <h2>Please sign up</h2>
      <%= render 'fields', f: f %>
      <%= f.submit "Join", class: "btn btn-medium btn-primary" %>
    <% end %>
    <p>Already a member? Welcome back!</p>
    <p>Please <%= link_to "log in here.", login_path %></p>
  </div>