<li class="discussion-item" id="discussion-<%= discussion.id %>">
  <div class="row-fluid"> 
    <%= render partial: 'shared/discussion_count', locals: { discussion: discussion } %>
    <%= render partial: 'shared/discussion_summary', locals: { discussion: discussion } %>
  </div>
</li>