      <% unless taggable.tag_list.blank? %>
        <ul class="inline">
          <% taggable.tag_list.each do |tag| %>
            <li class="label label-info"><%=tag%></li>
          <% end %>
        </ul>
      <% end %>