<span class="help-block">
  <i class="icon-info-sign"></i>
  Please seperate the tags by <strong>comma</strong>
  <% if current_page?(new_discussion_path) || current_page?(new_list_path) %></br><% end %> 
  (e.g., <%= example %>).
</span>