<div class="btn-row">
  <% if current_user.taken?(@course) %> 
    <a class="btn btn-small btn-enroll btn-danger" href="#taken" data-toggle="modal">Taken</a>
  <% else %>
    <a class="btn btn-small btn-enroll" href="#taken" data-toggle="modal">Taken</a>
  <% end %>
  <%= render partial: 'courses/social_count', locals: { users: @course.taken_users } %>
</div>