<div class="btn-row">  
  <% if current_user.taking?(@course) %>  
    <a class="btn btn-small btn-enroll btn-success" href="#taking" data-toggle="modal">Taking</a>
  <% else %>
    <a class="btn btn-small btn-enroll" href="#taking" data-toggle="modal">Taking</a>
  <% end %>
  <%= render partial: 'shared/social_count', locals: { users: @course.taking_users } %>
</div>