<div class="btn-row">
  <% if current_user.interested?(@course) %>
    <a class="btn btn-small btn-enroll btn-warning edit-interested" href="#interested" data-toggle="modal">Interested</a>
  <% else %>
    <a class="btn btn-small btn-enroll" href="#interested" data-toggle="modal">Interested</a>
  <% end %>
    <%= render partial: 'shared/social_count', locals: { users: @course.interested_users } %>
</div>