  <% if course.status == :upcoming %><span class="badge badge-warning">upcoming</span>
  <% elsif course.status == :ongoing %><span class="badge badge-success">ongoing</span>
  <% elsif course.status == :finished %><span class="badge badge-important">finished</span>
  <% elsif course.status == :rolling %><span class="badge badge-info">rolling / self-paced</span>
  <% end %>