<div class="btn-group pull-right" data-toggle="buttons-radio">
  <% if params[:view] == "list" %>
    <%= link_to courses_path(status: params[:status]), class: "btn" do %>
      <i class=" icon-th-large"></i>
    <% end %>  
    <%= link_to courses_path(status: params[:status], view: "list"), class: "btn disabled" do %>
      <i class="icon-th-list"></i>
    <% end %>
  <% else %>
    <%= link_to courses_path(status: params[:status]), class: "btn disabled" do %>
      <i class=" icon-th-large"></i>
    <% end %>  
    <%= link_to courses_path(status: params[:status], view: "list"), class: "btn" do %>
      <i class="icon-th-list"></i>
    <% end %>
  <% end %>
</div>