  <% if @course.description %>
  <div class="course-info-container">
    <h4>Summary</h4>
    <p><%= @course.description %></p>
  </div>
  <% end %>

  <% if @course.prerequisites %>
  <div class="course-info-container">
    <h4>Prerequisites</h4>
    <p><%= @course.prerequisites %></p>
  </div>
  <% end %>