<li>
  <div>
    <%= render partial: 'shared/small_gravatar', locals: { post: enrollment } %>
    <span><%= link_to enrollment.user.username, enrollment.user %></span>
  </div>
  <div>
    <% if enrollment.status == 1 %>
    is interested in
    <% elsif enrollment.status == 2 %>
    is taking
    <% else %>
    has finished
    <% end %>
    <% if current_page? root_path %>
    <%= link_to enrollment.course.full_name, enrollment.course %>
    <% else %>
    this course
    <% end %>
  </div>
  <div class="muted">
    <span class="muted timestamp"><%= time_ago_in_words(enrollment.updated_at) %> ago</span>
  </div>
</li>