  <div id=<%= status %> class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= title %></h3>
    </div>
    <%= render partial: 'form', locals: { status: status.to_s } %>
  </div>