<% if current_user.interested?(@course) && title.include?('interested') %>
<% delete = true %>
<% elsif current_user.taking?(@course) && title.include?('taking') %>
<% delete = true %>
<% elsif current_user.taken?(@course) && title.include?('finished') %>
<% delete = true %>
<% else %>
<% delete = false %>
<% end %>

<div id="<%= status %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= title %></h3>
  </div>
  <%= render partial: 'courses/form', locals: { status: status,
                                                delete: delete } %>
</div>