  <div class="new-buttons">
    <%= link_to "<i class=\"icon-file icon-white\"></i> take a note".html_safe, 
                new_course_note_path(@course),
                class: "btn btn-medium btn-primary" %>
    <%= link_to "<i class=\"icon-comment icon-white\"></i> write a review".html_safe, 
                new_course_review_path(@course),
                class: "btn btn-medium btn-primary" %>
    <a class="btn btn-medium btn-primary" href="#add-to-list" data-toggle="modal">
      <i class="icon-plus icon-white"></i>
      add to list
    </a>        
  </div>
  <%= render 'add_to_list_modal' %>