  <div class="new-buttons">
    <%= render 'notes/btn_new_note' %>
    <%= render 'reviews/btn_new_review' %>
    <a class="btn btn-medium btn-primary" href="#add-to-list" data-toggle="modal">
      <i class="icon-plus icon-white"></i>
      add to list
    </a>        
  </div>
  <%= render 'add_to_list_modal' %>