<% unless @top_tags.blank? %>
  <div class="course-info-container">
    <h4>Tags</h4>
    <ul class="inline">
      <%= render partial: 'courses/filter_tag', collection: @top_tags, as: :tag %>
    </ul>
  </div>
<% end %>