<% provide(:title, 'All courses') %>
<% content_for :left do %>
  <h2>All Courses</h2>
  <div class="section-container">
    <ul class="course-items thumbnails">
      <%= render partial: 'courses/grid_course_item', collection: @courses, as: :course %>
    </ul>
    <%= will_paginate @courses %>
  </div>
<% end %>

<% content_for :right do %>
  place_holder
<% end %>
