<% provide(:title, 'Taking') %>

<% content_for :left do %>
<div class="section-container">
  <h2>Who is taking this course?</h2>
  <ul class="unstyled seperate">
    <%= render partial: 'courses/enroll_user', collection: @users, as: :user %>
  </ul>
</div>
<% end %>

<% content_for :right do %>
  <%= render partial: 'courses/sidebar_course_item', locals: { course: @course } %>
<% end %>