@import "bootstrap";
@import 'font-awesome';

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */
html { overflow-y: scroll; }

body{
  padding-top: 60px;
  background-color: #F1EEE5;
}

body.no-bg { background-color: white; }

section { overflow: auto; }

textarea { resize: vertical; }

span { text-align: center; }


.block { display: block; }

/* container */
.section-container{
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  -moz-border-colors: none;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: #AAA 0px 3px 3px 0px;
  -moz-box-shadow: #aaa 0px 3px 3px 0px;
  box-shadow: #AAA 0px 3px 3px 0px;
}

.thumbnail {
  -moz-box-shadow: 0 1px 0 #b9b6aa;
  -webkit-box-shadow: 0 1px 0 #B9B6AA;
  box-shadow: 0 1px 0 #B9B6AA;
  overflow: hidden;
}

/* header */
#logo{
  color: fireBrick;//#B31B1B;
  float: left;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 10px;
  text-decoration:none;
}

ul#top-nav {
  font-size: 1.15em;
  font-weight: bold;
}

/* list */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

ul.seperate > li,
ol.seperate > li {
  overflow: auto;
  border-top: 1px solid $grayLighter;
  padding: 5px 0;
  &:first-child { border: 0; }
}

/* image */
.img-small { height: 38.3px; }

.img-medium { height: 97px; }

.img-medium-large {
  height: 115px;
  width: 216px;
}

.img-large { height: 173px; }

.circle {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  width: 3px;
  height: 3px;
  padding: 3px;
  margin-right: 10px;
  display: inline-block;
}
.circle-ongoing { background-color: green; }
.circle-upcoming { background-color: gold; }
.circle-finished { background-color: red; }

/* typography */
h2 {
  font-size: 25px;
  line-height: 30px;
  color: #777;
  margin: 5px 0;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  color: #777;
  margin: 0;
}

h4 {
  margin: 3px 0;
}

.inline-header { 
  display: inline-block; 
  margin-bottom: 10px;
}

.index-header > h2 { display: inline; }

.view-all {
  font-weight: bold;
  font-size: 12px;
  text-shadow: white 1px 1px 0px;
}

.view-all-inline { margin-left: 5px; }




.label-info {
  background-color: lightSlateGray;
}






.comments li {
  padding:5px 2px;
}
.comments li {
  padding:25px 5px;
  margin-bottom:25px;
  border-bottom:1px solid #cccccc;
}
.recent_lists li, .all_lists li{
  display:block;
  height:240px;
  margin:0 7px;
}
.vote_form li{
  display:block;
  float:left;
  border:none;
  padding:2px;
  margin:0px;
}
p.list_desp{
  height:140px;
}






/* homepage: course */
aside {
  float: left;
  margin: 15px 10px 0 0;
}

ul.course-items {
  margin-top: 10px;
  li:nth-child(3n+1) {  
    margin-left: 0;
  }
  li.course-item > .thumbnail {
    height: 147px;
    legend {
      font-size: 12px;
      font-weight: bold;
      color: inherit;
      border: 0;
      border-top: 1px solid #E5E5E5;
      line-height: 12px;
      padding-top: 5px;
      margin-top: 10px;
      text-align: center;
    }
  }
}

/* homepage: discussion */
li.discussion-item {
  .badge { margin: 3px;}
  .icon-count { margin-right: 2px; }
}

/* homepage: list */
ul.list-items {
  li:nth-child(3n+1) {  
    margin-left: 0;
  }
  li.list-item {
    margin-bottom: 10px;
    form {
      margin: 0;
      padding: 0;
    }
    h3 {
      font-size: 13px;
      line-height: 15px;
    }
    .thumbnail {
      height: 260px;
    }
    .list-info {
      text-align: right;
      p { 
        margin: 0;
        &:first-child {
          margin-top: 10px;
        }
      }
    }
    .img-container {
      margin: 23px 0 10px 20px;
    }
    .img-row {
      height: 38px;
    }
    .img-center {
      margin-left: 0 auto;
      margin-right: 0 auto;
    }
  }
}


/* course show page */
.course-info-container {
  margin: 5px 0;
  #details {
    label { 
      display: inline-block;
      color: #777;
    }
  }
  #enrollment {
    display: inline-block;
    .btn-enroll { width: 55px }
    .btn-row { margin-bottom: 1px; }
    .enroll-count {
      font-weight: bold;
      padding: 2px 5px;
      margin-left: 5px;
      position: relative;
    }
    .enroll-count::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 6px solid #D4D4D4;
      border-color: transparent #D4D4D4 transparent transparent;
      position: absolute;
      right: 100%;
      margin-right: 0;
      top: 50%;
      margin-top: -6px;
    }
    .enroll-count::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 6px solid #FAFAFA;
      border-color: transparent #FAFAFA transparent transparent;
      position: absolute;
      right: 100%;
      margin-right: -1px;
      top: 50%;
      margin-top: -6px;
    }
  }
}

.modal {
  dl {
    dd { margin-left: 0; }
    span { margin-right: 3px; }
  }
  .help-block { text-align: left; }
}

.new-buttons { margin: 10px 0; }

.course-notes {
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
}

/* likes */
.btn-like {
  border: none;
  background: none;
  float: left;
}

.icon-like { color: fireBrick; }

.icon-pre { color: grey; }

/* notes */
.note-info { margin-bottom: 5px; }
.review-info { margin-bottom: 5px; }

/* discussions */
#discussion-vote-count {
  font-color: grey;
  text-shadow: 0 1px 0 white;
}

.discussion-vote-container {
  font-size: 18px;
  margin-left: 0;
  position: absolute;
  text-align: center;
  button {
    font-size: 24px;
  }
  form { margin: 0; }
}

.comment-vote-container {
  position: absolute;
  text-align: center;
  form { margin: 0; }
}


.discussion-vote {
  font-size: 24px;
}

/* comments */
.comment-form {
  textarea {
    width: 450px;
    height: 80px;
    margin: 0;
    vertical-align: bottom;
  }
  button { vertical-align: bottom; }
}




/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*********************/
/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }








// load at last, otherwise body > padding-top still exists.
@import "bootstrap-responsive";