@import "bootstrap";
@import "bootstrap-responsive";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}
body{
  padding-top:75px;
}

section {
  overflow: auto;
}
.section-content{
  overflow: auto;
}
textarea {
  resize: vertical;
}

span {
  text-align: center;
}

.container {
  width: 930px;
}


/* header */
#header {
    background: none repeat scroll 0 0 #0772A1/* more bright color : #FF9300 #3C2415 */;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    top:0;
  position:fixed;
  height: auto;
}

#logo{
  color: #FFFFFF;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 9px 20px 0 60px;
  text-decoration:none;
}

#top-navigation{
  padding:0px 30px;
}
#top-navigation ul{
  display: block;
    float: left;
    font-size: 1.15em;
    list-style: none outside none;
    margin: 0 10px;
    position: relative;
}
#top-navigation .nav > li {
    float: left;
    line-height: 20px;
}
#top-navigation .nav > li > a {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    padding: 17px 14px 15px;
}
#top-navigation .nav > li > a:hover {
  background-color:#3BA3D0;
  color: #fff
}
#top-navigation .nav.pull-right {
    float: right;
    margin-right: 100px;
}
.topnav-search{
  float:left;
  margin-top:11px;
  position:relative;
  border-radius:15px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:13px;
  font-weight:normal;
  line-height:1;
  padding:0 10px;
}
form{
  margin:0 0;
}
/* list section */
ul.popular_courses, 
ul.recent_discussions, 
ul.courses,
ul.discussions,
ul.comments,
ul.recent_lists, 
ul.all_lists{
  list-style:none;
  margin-top:10px;
  margin-left:0px;
}
ul.vote_form {
  list-style:none;
  float:right;
}
.popular_courses li, 
.courses li, 
.discussions li,
.recent_discussions li,
.comments li {
  list-style:none;
  padding:5px 2px;
}
.comments li {
  padding:25px 5px;
  margin-bottom:25px;
  border-bottom:1px solid #cccccc;
}
.recent_lists li, .all_lists li{
  display:block;
  height:240px;
  margin:0 7px;
}
.vote_form li{
  display:block;
  float:left;
  border:none;
  padding:2px;
  margin:0px;
}
p.list_desp{
  height:140px;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  width:220px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  -webkit-transition:border 0.2s linear, box-shadow 0.2s linear;
  background-color: #ffffff;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  display:inline-block;
}
.vote_form{
  float:right;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* Section */
.section-container{
padding:15px 27px;
margin: 15px 0;
border: 1px solid #DDDDDD;
-moz-border-colors: none;
border-radius: 10px;
}


.courses_status {
  display: inline-block;
  float: left;
  width: 33.2%;
  border: 1px solid #B7CFDF;
  line-height: 20px;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
  text-decoration: none;
  color: #6E788B;
  &:hover {
    color: Black;
    opacity: 0.7;
  }
}

.segmented_first {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  margin: 0;
}

.segmented_middle { 
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-left: 0;
  margin: 0;  
}

.segmented_last {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  border-left: 0;
  margin: 0;  
}

/* courses */
.small_image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

.count {
  margin-right: 10px;
  font-size: 1.5em;
  .count_of_taking_users { color: green; }
  .count_of_will_take_users { color: orange; }
  .count_of_taken_users { color: red; }
}
