@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}
body{
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
span {
  text-align: center;
}

/* header */
//header.navbar {
  // background: none repeat scroll 0 0 #0772A1/* more bright color : #FF9300 #3C2415 */;
  // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  // width: 100%;
  // top:0;
  // position:fixed;
  // height: auto;
//}

#logo{
  color: black;
  float: left;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 10px;
  text-decoration:none;
}

ul#top-nav {
  font-size: 1.15em;
  font-weight: bold;
}

.sidebar-tabs > li > a {
  line-height: 10px;
}

/* list section */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

ul.seperate > li,
ol.seperate > li {
  overflow: auto;
  border-top: 1px solid $grayLighter;
  &:first-child {
    border: 0;
  }
  padding-bottom: 10px;
}


ul.popular_courses, 
ul.recent_discussions, 
ul.courses,
ul.discussions,
ul.comments,
ul.recent_lists, 
ul.all_lists{
  margin-top:10px;
  margin-left:0px;
}

.popular_courses li, 
.courses li, 
.discussions li,
.recent_discussions li,
.comments li {
  padding:5px 2px;
}
.comments li {
  padding:25px 5px;
  margin-bottom:25px;
  border-bottom:1px solid #cccccc;
}
.recent_lists li, .all_lists li{
  display:block;
  height:240px;
  margin:0 7px;
}
.vote_form li{
  display:block;
  float:left;
  border:none;
  padding:2px;
  margin:0px;
}
p.list_desp{
  height:140px;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  width:220px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  -webkit-transition:border 0.2s linear, box-shadow 0.2s linear;
  background-color: #ffffff;
  box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
  display:inline-block;
}

.vote_form{
  float: left;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* Section */
.section-container{
  padding:15px 15px 0 15px;
  margin: 10px 0;
  border: 1px solid #DDDDDD;
  -moz-border-colors: none;
  border-radius: 10px;
}


.courses_status {
  display: inline-block;
  float: left;
  width: 33.2%;
  border: 1px solid #B7CFDF;
  line-height: 20px;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
  text-decoration: none;
  color: #6E788B;
  &:hover {
    color: Black;
    opacity: 0.7;
  }
}

/* image */
.img-medium {
  height: 75px;
}

.img-small {
  width: 70px;
}

.img-medium-large {
  height: 90px;
}

.count {
  margin-right: 10px;
  font-size: 1.5em;
  .count_of_taking_users { color: green; }
  .count_of_will_take_users { color: orange; }
  .count_of_taken_users { color: red; }
}

/* typography */
h2 {
  font-size: 25px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
}

h2, h3 {
  margin: 0;
}


/* homepage: course */
aside {
  float: left;
  margin: 15px 10px 0 0;
}
aside > label {
  font-size: 12px;
  font-weight: bold;
}
aside > li {
  font-size: 11px;
}

ul.popular_courses li:nth-child(3n+1) {  
  margin-left: 0;
}

legend.course-item {
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  border: 0;
  border-top: 1px solid #E5E5E5;
  line-height: 12px;
  padding-top: 5px;
  text-align: center;
}

img.course-item {
  margin-bottom: 5px;
}

.span4 > a.thumbnail {
  height: 130px;
}

.span5 > a.thumbnail {
  height: 250px;
}

ul.thumbnails {
  margin: 0;
}

.tab-content .course-grid {
  padding: 0;
}

.circle {

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  width: 3px;
  height: 3px;
  padding: 3px;
  margin-right: 10px;
  display: inline-block;
}

.ongoing-color { background-color: green; }
.upcoming-color { background-color: yellow; }

/* homepage: discussion */
.discussion-count {
  margin-top: 10px;
}

.block {
  display: block;
}

.badge {
  margin: 3px;
}

.label-tag {
  background-color: lightSkyBLue;
}

/* homepage: list */
.list-like {
  border: 0;
  border-bottom: 1px solid #E5E5E5;
}


// load at last, otherwise body > padding-top still exists.
@import "bootstrap-responsive";