<ul class="nav nav-tabs">
  <% if params[:tab] == "newest" %>
    <li><a href="/courses/<%= params[:course_id] %>/reviews">top</a></li>
    <li class="active"><a href="/courses/<%= params[:course_id] %>/reviews?tab=newest">newest</a></li> 
  <% else %>
    <li class="active"><a href="/courses/<%= params[:course_id] %>/reviews">top</a></li>
    <li><a href="/courses/<%= params[:course_id] %>/reviews?tab=newest">newest</a></li>
  <% end %>
</ul>