<% provide(:title, 'Edit review') %>
<div class="form-std form-new-edit">
    <h2>Edit this review</h2>
    <%= form_for @review do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>