<% provide(:title, 'Reviews') %>
<% content_for :left do %>
<div class="section-container">
  <%= link_to "<< go back to course: " + @course.full_name,  @course %>
  <h1><%= pluralize(@reviews.count, 'review') %></h1>
  <ul class="unstyled seperate">
    <%= render @reviews %>
  </ul>
  <%= will_paginate @reviews %>
<% end %>
</div>

<% content_for :right do %>
  place_holder
<% end %>