<% provide(:title, 'Post a review') %>
<div class="form-std form-new-edit">
    <h2>Post a review</h2>
    <%= form_for [@course, @review] do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Post", class: "btn btn-medium btn-primary" %>
    <% end %>
</div>