<li>
  <% if notification.activity == 'Comment' %>
    1 comment on <%= link_to notification.notifiable.title, notification.notifiable %>
  <% elsif notification.activity == 'Like' %>    
    <% if notification.notifiable_type == 'Discussion' || notification.notifiable_type == 'Review' %>      
    1 vote for <%= link_to notification.notifiable.title, notification.notifiable %>
    <% elsif notification.notifiable_type == 'Comment' %>
    1 vote for <%= link_to truncate(notification.notifiable.body, length: 50), notification.notifiable.commentable %>
    <% else %>
    1 star for <%= link_to notification.notifiable.title, notification.notifiable %>
    <% end %>
  <% end %>
</li>